

__pycache__


*.png
*.tiff
*.zip
data1/
*.txt
FOV/
*.md
*.pdf
Flower/
FOV_test_data/
incomplete_frame/
src/MEMS-Vision-Pro/phaseCorrect/
*.tiff
*.svg
*.bin
src/MEMS-Vision-Pro/CppVersion/build/
src/MEMS-Vision-Pro/CppVersion/.xmake/


# 忽略所有 xmake 缓存和构建目录
.xmake/
build/
**/build/
**/.xmake/

*.obj
